<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_NAME</key>
	<string>UPool</string>
	<key>BACK</key>
	<string>Back</string>
	<key>SIGN_UP</key>
	<string>Sign Up</string>
	<key>SIGN_IN</key>
	<string>Sign In</string>
	<key>EMAIL</key>
	<string>Email</string>
	<key>PASSWORD</key>
	<string>Password</string>
	<key>TITLE</key>
	<string>Title</string>
	<key>FIRST_NAME</key>
	<string>First Name</string>
	<key>LAST_NAME</key>
	<string>Last Name</string>
	<key>REGISTER</key>
	<string>Register</string>
	<key>TITLE_ARRAY</key>
	<array>
		<string>Miss</string>
		<string>Mr.</string>
		<string>Mrs.</string>
		<string>Ms.</string>
		<string>Dr.</string>
	</array>
	<key>CANCEL</key>
	<string>Cancel</string>
	<key>DONE</key>
	<string>Done</string>
	<key>OK</key>
	<string>OK</string>
	<key>TEXT_FIELD_BORDER_COLOR</key>
	<string>e6e6e6</string>
</dict>
</plist>
